[submodule "garglk"]
	path = garglk
	url = ../../garglk/garglk.git
[submodule "git"]
	path = git
	url = ../../DavidKinder/Git.git
[submodule "glulxe"]
	path = glulxe
	url = ../../erkyrath/glulxe.git
[submodule "hugo"]
	path = hugo
	url = ../../hugoif/hugo-unix.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
