name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - uses: actions/cache@v4
        with:
          path: tools
          key: mise-tools-${{ hashFiles('mise.toml') }}

      - name: Run CI
        run: ./run ci
